@model UIPathStudent
<form asp-action="Create">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <select class="form-control" asp-for="Seans">
                    <option>Lütfen Seans Seçiniz</option>
                    <option value="1">1. Seans</option>
                    <option value="2">2. Seans</option>
                    <option value="3">3. Seans</option>
                    <option value="4">4. Seans</option>
                    <option value="5">5. Seans</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <select class="form-control" asp-for="Brans">
                    <option>Lütfen Zümre Seçiniz</option>
                    <option value="yazilim">Yazılım</option>
                    <option value="sistem">Sistem</option>
                    <option value="muhasebe">Muahasebe</option>
                    <option value="ofis">Ofis</option>
                </select>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Adı" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Soyadı" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Telefon" asp-for="Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Mail" asp-for="Mail">
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="TCKN" asp-for="TCKN">
                <span asp-validation-for="TCKN" class="text-danger"></span>
            </div>
        </div>

        <div class="col">
            <div class="custom-control custom-checkbox">
                <input  class="custom-control-input" asp-for="IsStudent">
                <label class="custom-control-label" for="IsStudent">Öğrenci</label>
            </div>
      </div>
            <div class="w-100"></div>

            <div class="col">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Başlangıç" asp-for="CourseStartDate"
                        maxlength="11">
                    <span asp-validation-for="CourseStartDate" class="text-danger"></span>
                </div>
            </div>
        
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Bitiş" asp-for="CourseEndDate" maxlength="11">
                <span asp-validation-for="CourseEndDate" class="text-danger"></span>
            </div>
        </div>
  
     <div class="w-100"></div>
        <div class="col-6">
            <div class="form-group">
            <select asp-for="GroupId" class="form-control" asp-items="@ViewBag.GroupId">
                <option  disabled>Grup Seçiniz</option> 
            </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
        </div> 
  </div>
 

    <div class="row mt-4">
        <div class="col d-flex justify-content-between">
            <a href="/Students/List" class="btn btn-outline-info"><i class="fa fa-list"></i> Liste</a>
            <button type="submit" class="btn btn-outline-dark"> <i class="fa fa-pencil"></i> Kaydet</button>
        </div>
    </div>
</form>



@section css{
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}
@section js{

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(window).load(function () {
        var phones = [{ "mask": "+\\9\\0 (###) ### ## ##" }];
        $('#Phone').inputmask({
            mask: phones,
            greedy: false,
            definitions: { '#': { validator: "[0-9]", cardinality: 1 } }
        });
    });
</script>
<script>
    $(function () {
        $("#CourseStartDate").datepicker({ "dateFormat": "dd/mm/yy" });
        $("#CourseEndDate").datepicker({ "dateFormat": "dd/mm/yy" });
    });
</script>

}