@model Student
 
        <form asp-action="index" method="post">
           <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ad覺n覺z" asp-for="FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Soyad覺n覺z" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Telefon" asp-for="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mail" asp-for="Mail">
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                </div>
                   <div class="w-100"></div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="TCKN" asp-for="TCKN" >
                        <span asp-validation-for="TCKN" class="text-danger" ></span>
                    </div>
                </div>
                     
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Code" asp-for="Code">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>


                <div class="col d-flex flex-row-reverse">
                         <button class="btn btn-outline-dark"> <i class="fa fa-pencil"></i> Kaydet</button>
                </div>
           </div>
        </form>
  


  @section js{
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script>
        $(window).load(function () {
            var phones = [{ "mask": "+\\9\\0 (###) ### ## ##" }];
            $('#Phone').inputmask({
                mask: phones,
                greedy: false,
                definitions: { '#': { validator: "[0-9]", cardinality: 1 } }
            });
        });
    </script>
}