@{

    Layout = null;
}

@model Student
 <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
   
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            padding: 0px;
            margin: 0px;
            background: url(/img/bilge-adam-logo.svg) no-repeat top left;
            background-size: auto 100%;
        }

        .container {
            max-width: 90% !important;
        }

        .table {


            width: 100% !important;

        }
    </style>

</head>

<body class="bg-light">
    <div class="container">
        <div class="row " style="margin-top:80px">
            <div class="col border p-5 shadow-sm p-3 mb-5 bg-white rounded">
        <form asp-action="index" method="post">
           <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ad覺n覺z" asp-for="FirstName">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Soyad覺n覺z" asp-for="LastName">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Telefon" asp-for="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mail" asp-for="Mail">
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                </div>
                   <div class="w-100"></div>
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="TCKN" asp-for="TCKN" >
                        <span asp-validation-for="TCKN" class="text-danger" ></span>
                    </div>
                </div>
                     
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Code" asp-for="Code">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>


                <div class="col d-flex flex-row-reverse">
                         <button class="btn btn-outline-dark"> <i class="fa fa-pencil"></i> Kaydet</button>
                </div>
           </div>
        </form>
  


 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script>
        $(window).load(function () {
            var phones = [{ "mask": "+\\9\\0 (###) ### ## ##" }];
            $('#Phone').inputmask({
                mask: phones,
                greedy: false,
                definitions: { '#': { validator: "[0-9]", cardinality: 1 } }
            });
        });
    </script>
 


           </div>

        </div>
    </div>
</body>

</html>