
@{
  Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
     <div class="d-flex justify-content-center" style="margin-top:50px">
 
       <img width="500" src="~/img/logo.png"></div>
      <h1 class="text-center text-secondary">Teşekkürler</h1>
    </div> 
    <script>
   setTimeout(  function(){    
  window.close(); } ,500)
    </script>
</body>
</html>